.root-search-input {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .gifContent {
    width: 70%;
    margin: 50px;
    display: flex;
    position: relative;
    flex-flow: row wrap;
    justify-content: center;
  }

  #deleteIcon {
    position: absolute;
    font-size: 31px;
    transform: translate(187px, -226px);
  }
}
